// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #5477f7;

  main {
    background-color: #dddddd;
    border: 0.10em solid black;
    margin: auto;
    padding: 0 2em 0 2em;
    width: 80%;
  }
}
